---
network:
  version: 2
  renderer: networkd
  ethernets:
    eth1:
      dhcp4-overrides:
        use-mtu: false
      mtu: 1450
    eth0:
      dhcp4-overrides:
        use-mtu: false
      mtu: 1450
